<link rel="stylesheet" href="/CSS/game.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/game.js"></script>

<div class="car-img">
    <img class="" src="/Images/red-car.png" alt="">
</div>
